@import url(https://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext);
}

* {
    box-sizing: border-box;
}

html {
	background-color: #F0C808;
  height:100%;
}

body {
	font-family: 'Lato', sans-serif;
	color: white;
	text-shadow: 2px 2px 4px #000;
	height:100%;
}
a {
	text-decoration: inherit;
	color: inherit;
}
a:hover {
	color: #fff;
	text-shadow: 2px 2px 4px #4078C0;;
}
header {
	background-color: black;
	padding: 5px;
}
header h1 {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 20px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
.icon {
	background:white;
	border-radius:5px;
}
a:hover .icon,
.icon:hover{
	background: #4078C0;
  cursor:pointer;
}

/*canvas toghether with icons on the right */
.canvas-section {
  margin: 20px auto;
  width: 1250px;
  height: 720px;
}
canvas {
	display: block;
	border: 4px solid black;
	width: 1200px;
	height: 720px;
  float:left;
}
/*options button and menu*/
.options {
  width: 19px;
  height: 720px;
  float: left;
  margin: 15px 0 0 20px;
}
.options-choice {
	display:block;
	width:333px;
	height:100px;
	position: relative;
	top: -90px;
	left: -275px;
}
.options-choice li {
	background-color:#4078C0;
	display:none;
	height: 90px;
	position:relative;
}
.options-choice li:first-child{
	border-radius: 5px 0 0 5px;
}
.options-choice li:last-child{
	border-radius: 0 5px 5px 0;
}
.options-choice li div {
	width: 60px;
	height: 60px;
	border:1px solid black;
	float: left;
	margin: 10px 15px;
	cursor: pointer;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}
.options-choice li div:hover {
	border: 1px solid white;
}
.picture div {
	background-image: url("../img/pic.png");
	background-size:cover;
	color:white;
}
.white div {
	background-color: white;
	color:black;
}
li.white div:hover {
	border: 1px solid white;
}
.black div {
	background-color: black;
	color:white;
}
.gear,
.more {
	float:right;
	width: 32px;
	height: 32px;
  margin: 10px 0 10px 0;
}
.gear:hover .options-choice li {
	display:block;
	float:left;
	margin: 0;
}
/*link to the book on wolnelektury's site*/
.more-text {
  display:none;
  text-align:center;
}
.more:hover .more-text {
  display: block;
  position: relative;
  left: -310px;
  width: 300px;
  top: -35px;
  padding: 5px;
  border-radius: 5px;
  background-color: #4078C0;
}
.more-text:hover {
  text-decoration: underline;
}
/*area below canvas*/
.refresh {
	margin-left: 45%;
}
.social,
.below-canvas {
	width: 50%;
	margin: auto;
}
footer {
	background-color: black;
	padding: 5px;
	display: block;
  margin-top: 20px;
}
footer span {
	margin-left:70%;
	margin-right:5px;
	position:relative;
	top:-10px;
}
footer span img {
	position:relative;
	top:5px;
}
footer a:hover img {
	background-color: #4078C0;
	border-radius:16px;
}


/*mediaquery*/

@media all and (max-width: 1200px) {
	canvas {
	width: 900px;
	height: 540px;
	}
  .canvas-section {
    width: 950px;
  }
}


@media all and (max-width: 962px) {
	canvas {
	width: 700px;
	height: 420px;
	}
  .canvas-section {
    width: 750px;
  }
	.more,
	.social,
	.below-canvas {
		width: 600px;
		margin: auto;
	}

}

@media all and (max-width: 768px) {
	canvas {
	width: 600px;
	height: 360px;
	}

	.details,
	.gear,
	.more,
	footer {
		display:none;
	}
}

@media all and (max-width: 500px) {
	canvas {
	width: 400px;
	height: 240px;
	}
}

@media all and (max-width: 400px) {
	canvas {
	width: 300px;
	height: 180px;
	}
}
