* {
    box-sizing: border-box;
}
html,
body {
    height:100%;
}
img {
    display:block;
}
body {
	background-color: #F0C808;
	color: white;
	text-shadow: 2px 2px 4px #000;
}
.invisible {
	display:none;
	position:relative;
	/*Przesuniete poza ekran, by nie było widać w trakcie ładowania*/
	top:3000px;
}
header {
	height:30px;
	background-color:#2176FF;
}
header h1 {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 20px;	
}
canvas {
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px auto;
	border: 2px solid #2176FF;
}
.sentence,
.more{
	width:800px;
	margin: auto;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
