body {
	height: 100%vh;
	width: 80%;
	margin: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-shadow: 2px 2px 4px #000;
}

.invisible {
	display:none;
	position:relative;
	top:3000px;
}
